[project]
	description = A timeout command with process garbage collection
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/guillon
[access "refs/for/refs/*"]
	read = group user/guillon
	push = group user/guillon
	label-Code-Review = -2..+2 group user/guillon
	label-Verified = -1..+1 group user/guillon
	rebase = group user/guillon
	removeReviewer = group user/guillon
	submit = group user/guillon
[access "refs/heads/*"]
	read = group user/guillon
	create = group user/guillon
	push = +force group user/guillon
	pushMerge = group user/guillon
[access "refs/tags/*"]
	push = +force group user/guillon
	pushTag = group user/guillon
	pushSignedTag = group user/guillon
